*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --container-max-width: 1200px;
  --container-padding: 16px;
}

:root {
  --color-neutral-darkest: #000;
  --color-white: #fff;

  --color-neutral-lighter: #d8d8d8;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b2b2b2;
  --color-neutral: #7f7f7f;
  --color-neutral-dark: #4c4c4c;
  --color-neutral-darker: #191919;

  --opacity-neutral-darkest-15: rgba(0, 0, 0, 0.15);
  --opacity-neutral-darkest-20: rgba(0, 0, 0, 0.2);

  --color-deco-lightest: #f9fcf6;
  --color-deco-lighter: #f3f9ed;
  --color-deco-light: #d6eac0;
  --color-deco: #c5e1a5;
  --color-deco-dark: #9db484;
  --color-deco-darker: #4e5a42;
  --color-deco-darkest: #3b4331;

  --color-bg: #3c3c3b;
  --color-text: var(--color-deco-light);
  --color-muted: var(--color-neutral);
  --color-border: var(--opacity-neutral-darkest-20);

  --color-primary: var(--color-deco);
  --color-primary-hover: var(--color-deco-dark);
  --color-primary-soft: var(--color-deco-lighter);

  --color-danger: #9d0000;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;

  font-family:
    var(--font-inter),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    Arial,
    sans-serif;

  font-size: 16px;
  line-height: 1.5;

  color: var(--color-text);
  background-color: var(--color-bg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25;
  color: inherit;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 0;
  line-height: 1.6;
}

small {
  font-size: 14px;
  color: #555;
}
p {
  max-width: 65ch;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: var(--container-max-width);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
