.wrap {
  position: relative;
  display: grid;
  gap: 6px;
  color: var(--color-neutral-darker);
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-neutral-darker);
}

.trigger {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 12px;
  border: 1px solid var(--color-neutral-lighter);
  border-radius: 10px;
  background: var(--color-neutral-lighter);
  cursor: pointer;
}

.trigger:hover {
  border-color: var(--color-neutral);
}

.value {
  font-size: 14px;
  color: #111;
}

.placeholder {
  color: var(--color-neutral-darker);
}

.icon {
  display: inline-flex;
  opacity: 0.9;
  color: var(--color-neutral-darker);
}

.popover {
  position: absolute;
  z-index: 50;
  top: calc(100% + 8px);
  left: 0;

  width: 320px;
  padding: 12px;
  border-radius: 14px;

  background: var(--color-neutral-lighter);
  border: 1px solid var(--color-neutral-light);
}

.dpRoot {
  width: 100%;
}
.dpCaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.dpCaptionLabel {
  font-weight: 600;
  color: var(--color-neutral-darker);
}
.dpNav {
  display: flex;
  gap: 6px;
}
.dpNavBtn {
  width: 32px;
  height: 32px;
  border-radius: 10px;
  cursor: pointer;
}
.dpTable {
  width: 100%;
  border-collapse: collapse;
}
.dpHeadCell {
  font-size: 12px;
  color: --color-neutral-light;
  padding: 6px 0;
  text-align: center;
}
.dpCell {
  padding: 2px;
}
.dpDay {
  width: 38px;
  height: 38px;
  background: transparent;
  cursor: pointer;
}

.dpDay:hover {
  background: var(--color-neutral-light);
}

.dpDayBtn {
  border: none;
  outline: none;
  background: transparent;
  color: var(--color-neutral-darker);

  width: 38px;
  height: 38px;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
  font: inherit;
}

.dpSelected {
  background: var(--color-neutral-darkest);
  color: var(--color-white);
}
.dpToday {
  border-color: var(--color-neutral-dark);
}

.dpOutside {
  color: var(--color-neutral-dark);
}

.actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.smallBtn {
  border: none;
  background: transparent;
  color: var(--color-neutral-darkest);
  font-weight: 600;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 10px;
}
.smallBtn:hover {
  background: var(--color-neutral-dark);
}

:global(.rdp-today) .dpDayBtn {
  border: 1px solid var(--color-neutral);
}

:global(.rdp-selected) .dpDayBtn {
  background: var(--color-deco-light);

  border: none;
}
